* {
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(to bottom, #eaeaea, #ffffff); */
  /* background-image: url("pictures/TrailerInventoryBackground3.jpg"); */
  /* background-size: 80vw; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* allow resizing */
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
}

input[type="number"] {
  font-size: clamp(12px, 1.5vw, 16px);
  -moz-appearance: textfield; /* For Firefox */
  -webkit-appearance: none; /* For Chrome, Safari, and Edge */
  appearance: none; /* Standard property */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove spinners in WebKit browsers */
  margin: 0;
}

/* Main Layout */
.main-layout {
  display: flex;
  height: 100%;
  overflow: auto;
}

/* h1 {
  color: black;
  text-align: center;
} */

.header-container {
  display: flex;
  align-items: center;
  gap: 0.6vw;
  justify-content: center;
  margin: 0.5vh 0 0 0;
}

.header-container i {
  font-size: 24px;
  color: black;
}

.header-container h1 {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  line-height: 1;
  color: black;
}

#backroomInventory {
  background-image: url("goodwillbackroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#trailerInventory {
  background-image: url("goodwillTrailer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.form-content {
  position: fixed;
  top: 2rem;
  left: 14rem;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white overlay */
  display: flex;
  flex-direction: column;
  padding: 2vh 1.5vw;
  z-index: 2;
  overflow-y: auto;
}

/* Form Container */
.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2rem;
  margin-left: 14rem;
  height: auto;
  gap: 0.5vw;
  margin-top: 4.5vh;
  overflow-y: auto;
  /* background: linear-gradient(to bottom, #eaeaea, #ffffff); */
}

.form-groups-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1vw;
}

/* Form Groups */
.form-group {
  flex: 1 1 calc(50% - 20px);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1vw;
  background-color: rgba(249, 249, 249, 0.8);

  overflow-y: auto;
}

.left-form-group {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.form-group-2,
.form-group-3 {
  flex: 1 1 33%;
}

.form-group h2 {
  margin-top: 0;
  text-align: center;
  font-size: clamp(16px, 2vw, 20px);
}

.form-group label {
  font-size: clamp(12px, 1.5vw, 16px);
  display: block;
  margin-top: 0.5vh;
  font-weight: bold;
  color: black;
}

.form-group input[type="number"] {
  padding: 0.5vh;
  margin-top: 0.5vh;
}

.form-group-0 #storeNumber {
  height: 4vh;
  width: 12vw;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0.5vw;
}

/* Target inputs in form-group-0 */
.form-group-0 input[type="text"] {
  height: 4vh;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0.5vw;
  margin-top: 0.5vh;
}

.form-group-0 input[type="date"] {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 4vh;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  outline: none;
  padding: 0.6vw;
}

.input-group {
  display: flex;
  align-items: stretch;
  margin-bottom: 0.6vh;
}

.input-group input,
.input-group button {
  font-size: 1.1rem;
  line-height: 1;
  padding: 0;
  font-weight: bold;
}

.input-group input {
  height: 4vh;
  width: 7vw;
  border: 2px solid black;
  border-right: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  transition: background-color 0.3s ease;
}

.input-group input:hover {
  background-color: #f1f1f1;
}

.input-group button {
  height: 4vh;
  background: linear-gradient(to right, #49a4ff, #0080ff);
  color: white;
  border: 2px solid black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5vw;

  position: relative;
  top: 0.5vh;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  transition: background 0.3s ease;
}

.input-group button:hover {
  background: linear-gradient(to right, #bdddff, #89cfff);
  color: black;
}

.plus-button {
  border-radius: 0 !important;
  border-left: 3px solid black !important;
  transition: background-color 0.3s ease;
}

.submit-section {
  bottom: 1vh;
  right: 0;
  left: 0;
  text-align: center;
  position: absolute;
  justify-content: center;
  display: flex;
}

.submit-section button {
  background: linear-gradient(to bottom, #49a4ff, #004d99);
  color: white;
  font-size: 2vh;
  font-weight: bold;
  padding: 1vh 1vw;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.submit-section button:hover {
  background: linear-gradient(to right, #bdddff, #89cfff);
  color: black;
}

.confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(5px); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.confirmBox {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.confirmBox p {
  margin-bottom: 20px;
}

.custom-Modal button {
  background-color: #1967d2;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

.missedQ {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 40vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.missedQ p {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ff0000;
}

.zero-value-warning p {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ff0000;
}

.hidden {
  display: none !important;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: white;
  padding: 1rem 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navbar Left Section */
.navbar-left {
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: left;
}

.navbar-logo {
  height: 7rem;
  width: auto;
  margin-right: 30vw;
}

/* Navbar Right Section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  color: #004d99;
  margin-right: 0.4vw;
}

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown label {
  color: black;
}

.dropdown-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: rgba(248, 248, 248, 0);
  border-radius: 6px;
  width: auto;
  height: auto;
  transition: background-color 0.3s ease;
}

/* .dropdown-bar:hover {
  background-color: #d5d5d5; /* Highlight on hover */
/* } */

/* Dropdown Button */
.dropdown-button {
  background: none;
  border: none;
  color: rgb(119, 119, 119);
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.3rem;
  outline: none;
  transition: background-color 0.3s ease;
}

/* Dropdown Button Hover Effect */
.dropdown-button:hover {
  color: #ccc;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: auto;
  height: 5vh;
}

/* Dropdown Menu Items */
.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.dropdown-menu li a {
  font-size: 1.6vh;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  padding: 1vh 1vw;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

/* Show Dropdown Menu */
.dropdown-menu.show {
  display: block;
}

/* Side Navbar */
.side-navbar {
  flex: 0 0 200px;
  position: fixed;
  top: 4rem;
  left: 0;
  height: 100%;
  background: linear-gradient(170deg, #004d99, #76b9fc);
  color: white;
  padding: 1rem 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Side Navbar List */
.side-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Side Navbar List Items */
.side-navbar li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

/* Side Navbar Icons */
.side-navbar i {
  vertical-align: middle;
}

.side-navbar a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem 1.1rem;
  border-radius: 4px;
}

.side-navbar li:hover {
  background-color: #003366;
}
